In [9]:
import pandas as pd

data = pd.read_csv('data/raw/geo/college_locations_covid.csv')

# make all column names lowercase
data.columns = [x.lower() for x in data.columns]
data.head()

,date,state,county,city,ipeds_id,college,cases,cases_2021,notes
0,2021-05-26,Alabama,Madison,Huntsville,100654,Alabama A&M University,41,NaN,NaN
1,2021-05-26,Alabama,Montgomery,Montgomery,100724,Alabama State University,2,NaN,NaN
2,2021-05-26,Alabama,Limestone,Athens,100812,Athens State University,45,10.0,NaN
3,2021-05-26,Alabama,Lee,Auburn,100858,Auburn University,2742,567.0,NaN
4,2021-05-26,Alabama,Montgomery,Montgomery,100830,Auburn University at Montgomery,220,80.0,NaN

In [10]:
cleaned_data = data[['state', 'city', 'college']]

# make all city state and college names lowercase and trimed
cleaned_data['city'] = cleaned_data['city'].str.lower()
cleaned_data['state'] = cleaned_data['state'].str.lower()
cleaned_data['college'] = cleaned_data['college'].str.lower()
cleaned_data['country'] = 'united states'

cleaned_data.head()

/var/folders/pq/69lxbqs9033c8np0gk9dbb_40000gn/T/ipykernel_66133/2326612162.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_data['city'] = cleaned_data['city'].str.lower()
/var/folders/pq/69lxbqs9033c8np0gk9dbb_40000gn/T/ipykernel_66133/2326612162.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_data['state'] = cleaned_data['state'].str.lower()
/var/folders/pq/69lxbqs9033c8np0gk9dbb_40000gn/T/ipykernel_66133/2326612162.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_data['college'] = cleaned_data['college'].str.lower()
/var/folders/pq/69lxbqs9033c8np0gk9dbb_40000gn/T/ipykernel_66133/2326612162.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_data['country'] = 'united states'

     state        city                          college        country
0  alabama  huntsville           alabama a&m university  united states
1  alabama  montgomery         alabama state university  united states
2  alabama      athens          athens state university  united states
3  alabama      auburn                auburn university  united states
4  alabama  montgomery  auburn university at montgomery  united states

In [11]:
cleaned_data.to_csv('data/cleaned/geo/college_locations.csv', index=False)